@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --color-brand: #155DFC;
  --color-brand-secondary: #4F86FF;
  --color-cta: #FFC83D;
  --color-cta-hover: #FFB800;
  --color-bg-soft: #F4F8FF;
  --color-text-main: #1E1E1E;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
